<div class="container py-5">
  <div class="row gx-5">
    <div class="col-md-3">
      <a id="PreviousWorkExperience"></a>
      <h2 class="border-bottom border-green pb-3" style="font-family: 'Playfair Display';">Previous Work Experience</h2>
    </div>
    <div class="col-md-9">

      <div class="row align-items-start">
        <div class="col-lg-8">
          <h4>Computer Engineering Intern</h4>
        </div>
        <div class="col-lg-4">
          <p><a href="https://www.keytechinc.com/">Key Tech</a><br>Summer 2017</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <p>
            Designed and built prototype device for resistance & optical measurement of medical heart pumps.
          </p>
        </div>
      </div>

      <div class="row"><div class="col"><h4>&nbsp</h4></div></div>

      <div class="row align-items-start">
        <div class="col-lg-8">
          <h4>Bluetooth QA Engineer</h4>
        </div>
        <div class="col-lg-4">
          <p><a href="https://www.apple.com/">Apple</a><br>July 2014 &mdash; July 2016</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <p>
            Oversaw the development of new cross-platform features on iOS, macOS, watchOS and drove testing of the underlying frameworks to improve quality of old and new features.
            <br><br>
            Designed and built an automated system for testing Bluetooth across all products, utilizing tools and technologies from multiple teams within Apple.
            <br><br>
            Extended automated testing scenarios to include framework level testing along with user level testing.
            <br><br>
            Worked with technology teams and platform teams across Apple to leverage existing automation.
          </p>
        </div>
      </div>

      <div class="row"><div class="col"><h4>&nbsp</h4></div></div>

      <div class="row align-items-start">
        <div class="col-lg-8">
          <h4>Software Development Engineer Intern</h4>
        </div>
        <div class="col-lg-4">
          <p><a href="https://www.amazon.com/">Amazon</a><br>Summer 2013</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <p>
            Designed new system to automate code testing and decrease time between code deployments.
            <br><br>
            Developed new command-line tool to simplify adding seller gift cards to the Amazon Webstore platform.
          </p>
        </div>
      </div>

      <div class="row"><div class="col"><h4>&nbsp</h4></div></div>

      <div class="row align-items-start">
        <div class="col-lg-8">
          <h4>Software Developer Intern</h4>
        </div>
        <div class="col-lg-4">
          <p><a href="https://www.bentley.com/">Bentley Systems</a><br>Summer 2012</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <p>
            Designed new system to automate code testing and decrease time between code deployments.
            <br><br>
            Developed new command-line tool to simplify adding seller gift cards to the Amazon Webstore platform.
          </p>
        </div>
      </div>


    </div>
  </div>
</div>