<div class="container">
  <div class="row align-items-center">
    <div class="col-2 col-lg-3 col-xl-4"><hr></div>
    <div class="col-8 col-lg-6 col-xl-4">
      <h1 class="text-center" style="font-family: 'Playfair Display'">Talks & Blog Posts</h1>
    </div>
    <div class="col-2 col-lg-3 col-xl-4"><hr></div>
  </div>
</div>

<div class="container text-center">

  <div class="row text-center justify-content-center">
    <div class="col-lg-5 m-3">
      <a href="{% link roadbotics_rd_blog_posts/post_1.html %}" type="button" class="btn btn-outline-dark p-0 overflow-hidden" style="border-radius: 0px;">
        <div class="row align-items-center">
          <div class="col px-4">
            <b>Blog Post 1:<br>Introduction to 3D Reconstruction</b>
          </div>
          <div class="col p-0">
            <img src="/assets/images/roadbotics_rd_blog_posts/sidewalk_start_square.png" class="gx-0" style="width: 100%">
          </div>
        </div>
      </a>
    </div>

    <div class="col-lg-5 m-3">
      <a href="{% link roadbotics_rd_blog_posts/post_2.html %}" type="button" class="btn btn-outline-dark p-0 overflow-hidden" style="border-radius: 0px;">
        <div class="row align-items-center">
          <div class="col px-4">
            <b>Blog Post 2:<br>How Do You Create a 3D Reconstruction?</b>
          </div>
          <div class="col p-0">
            <img src="/assets/images/roadbotics_rd_blog_posts/slam_parking_lot_2_square.png" class="gx-0" style="width: 100%">
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row text-center  justify-content-center">
    <div class="col-lg-5 m-3">
      <a href="{% link roadbotics_rd_blog_posts/post_3.html %}" type="button" class="btn btn-outline-dark p-0 overflow-hidden" style="border-radius: 0px;">
        <div class="row align-items-center">
          <div class="col px-4">
            <b>Blog Post 3:<br>Making SLAM Work, Part 1</b>
          </div>
          <div class="col p-0">
            <img src="/assets/images/roadbotics_rd_blog_posts/distance_problem_4_square.png" class="gx-0" style="width: 100%">
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-5 m-3">
      <a href="{% link roadbotics_rd_blog_posts/post_4.html %}" type="button" class="btn btn-outline-dark p-0 overflow-hidden" style="border-radius: 0px;">
        <div class="row align-items-center">
          <div class="col px-4">
            <b>Blog Post 4:<br>Making SLAM Work, Part 2</b>
          </div>
          <div class="col p-0">
            <img src="/assets/images/roadbotics_rd_blog_posts/rolling_shutter_propeller_square.jpeg" class="gx-0" style="width: 100%">
          </div>
        </div>
      </a>
    </div>
  </div>

</div>

<!-- <div class="container pt-5 pb-3">
  <div class="row justify-content-center">

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card m-auto" style="width: 18rem;">
        <div class="card-header">
          Blog Post
        </div>
        <div class="card-body">
          <a href="{% link roadbotics_rd_blog_posts/post_1.html %}">
            <img src="/assets/images/sidewalk_start.png" class="card-img-top">
            <h5 class="card-title">Introduction to 3D Reconstruction</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card m-auto" style="width: 18rem;">
        <div class="card-header">
          Blog Post
        </div>
        <div class="card-body">
          <a href="{% link roadbotics_rd_blog_posts/post_2.html %}">
            <img src="/assets/images/roadbotics_rd_blog_posts/slam_parking_lot_2.png" class="card-img-top">
            <h5 class="card-title">How Do You Create a 3D Reconstruction?</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card m-auto" style="width: 18rem;">
        <div class="card-header">
          Blog Post
        </div>
        <div class="card-body">
          <a href="{% link roadbotics_rd_blog_posts/post_3.html %}">
            <img src="/assets/images/roadbotics_rd_blog_posts/distance_problem_4.png" class="card-img-top">
            <h5 class="card-title">Making SLAM Work, Part 1</h5>
          </a>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-lg-4 col-sm-6">
      <div class="card m-auto" style="width: 18rem;">
        <div class="card-header">
          Blog Post
        </div>
        <div class="card-body">
          <a href="{% link roadbotics_rd_blog_posts/post_1.html %}">
            <img src="/assets/images/sidewalk_start.png" class="card-img-top">
            <h5 class="card-title">Introduction to 3D Reconstruction</h5>
          </a>
        </div>
      </div>
    </div>

  </div>
</div> -->