<!-- <div class="container" style="padding: 0; max-width: 100%; background-color: #defcf0;"> -->
  <div class="container py-5">
    <div class="row gx-5">
      <div class="col-md-3">
        <a id="Media"></a>
        <h2 class="border-bottom border-green pb-3" style="font-family: 'Playfair Display';">Professional Talks & Blog Posts</h2>
      </div>
      <div class="col-md-9">
        <div class="row align-items-start">
          <div class="col-lg-8">
            <h4>Beyond Big Data Conference 2022</h4>
          </div>
          <div class="col-lg-4">
            <img src="/assets/images/beyond_big_data_2.jpeg" width="100%">
          </div>
        </div>
        <div class="row"><div class="col"><h4>&nbsp</h4></div></div>
        <div class="row align-items-start">
          <div class="col-lg-8">
            <h4>RoadBotics Intro to ML Webinar</h4>
          </div>
          <div class="col-lg-4">
            <iframe width="100%" src="https://www.youtube-nocookie.com/embed/doxkDpKH0s0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->