<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <span class="navbar-brand">Anshul Goyal</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarItems">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#Education" class="nav-link text-green">Education</a>
        </li>
        <li class="nav-item">
          <a href="#WorkAndResearch" class="nav-link text-green">Work & Research</a>
        </li>
        <li class="nav-item">
          <a href="#Media" class="nav-link text-green">Professional Media</a>
        </li>
        <li class="nav-item">
          <a href="#PreviousWorkExperience" class="nav-link text-green">Previous Work Experience</a>
        </li>
      </ul>
    </div>
  </div>
</nav>