<div class="container py-5">
  <div class="row gx-5">
    <div class="col-md-3">
      <a id="Education"></a>
      <h2 class="border-bottom border-green pb-3" style="font-family: 'Playfair Display';">Education</h2>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col">
          <h4>Carnegie Mellon University</h4>
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-lg-8">
          <p>MS in Electrical & Computer Engineering</p>
        </div>
        <div class="col-lg-4">
          <p>December 2017</p>
        </div>
      </div>
      <div class="row align-items-start">
        <div class="col-lg-8">
          <p>BS in Electrical & Computer Engineering<br>with Additional Major in Human-Computer Interaction</p>
        </div>
        <div class="col-lg-4">
          <p>May 2014</p>
        </div>
      </div>
    </div>
  </div>
</div>