<div class="container">
  <div class="row align-items-center">
    <div class="col"><hr></div>
    <div class="col">
      <h1 class="text-center" style="font-family: 'Playfair Display'">Grants</h1>
    </div>
    <div class="col"><hr></div>
  </div>
</div>

<div class="container py-5">
  <p>
    Before being aquired by Michelin, RoadBotics was still a start-up. In order to pursue ambition AI goals while balancing investor interest in using the company's limited funding to become profitable, I helped RoadBotics apply for two Small Business Innovation Research grants.
    <br><br>
    TODO: Add more details about each grant and links to download the full proposals.
  </p>
</div>