<div class="container">
  <div class="row align-items-center">
    <div class="col"><hr></div>
    <div class="col">
      <h1 class="text-center" style="font-family: 'Playfair Display'">Talks</h1>
    </div>
    <div class="col"><hr></div>
  </div>
</div>

<div class="container py-5">
  <div class="row py-2 align-items-center">
    <div class="col-md-6">
      <h2>Introduction to Machine Learning Webinar</h2>
      <p>October 2020</p>
      <p>
        For RoadBotics, in order to help the customers understand the technology we were using to grade their roads, I gave this presentation to provide a basic foundation of machine learning, with a slight focus on deep learning. Topics covered are:
        <ol>
          <li>What is machine learning?</li>
          <li>How models make choices: Regression vs Classification</li>
          <li>What makes a model a deep learning model?</li>
          <li>How do deep learning models “learn”?</li>
          <li>Advanced techniques used to train models</li>
          <li>What mistakes do models make and how do we evaluate them?</li>
        </ol>
      </p>
    </div>
    <div class="col-md-6">
      <div class="row align-items-center">
        <iframe width="800" height="300" src="https://www.youtube-nocookie.com/embed/Z2Gu2Gz_9B4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <div class="row py-2 align-items-center">
    <div class="col-md-6">
      <h2>High Resolution Mapping Through Low Cost Sensors & 3D Reconstruction</h2>
      <p>February 3, 2020</p>
      <p>
        At Pittsburgh Technology Council's Beyond Big Data 2022 Conference, I attended on behalf of RoadBotics and gave a presentation about the latest research work at the company, done by myself, Miguel Dickson, and Christoph Mertz. Much of the presentation is also covered in our blog posts, but some of the work presented at the end was new.
        <br><br>
        Due to the poor quality of my recording, I have created a blog post version of the presentation here.
      </p>
    </div>
    <div class="col-md-6">
      <div class="row align-items-center">
        <img src="/assets/images/beyond_big_data_2.jpeg" class="img-fluid">
      </div>
    </div>
  </div>
</div>