a { 
	color: #198754;
	text-decoration: none;
  }

a.section-anchor {
    
}

.border-green {
	border-color: #198754 !important;
}

.text-green:hover {
	color: #198754 !important;
}

.roadbotics-rd-blog-text {
	font-family: 'Charter', 'Georgia', 'Times New Roman';
	font-size: 14pt;
}

.roadbotics-rd-blog-image-caption {
	font-size: 12pt;
	font-style: normal;
}

.roadbotics-rd-blog-image-source-text {
	font-size: 8pt;
	font-style: italic;
}