<!-- <div class="container" style="padding: 0; max-width: 100%; background-color: #defcf0;"> -->
  <div class="container py-5">
    <div class="row gx-5">
      <div class="col-md-3">
        <a id="Media"></a>
        <h2 class="border-bottom border-green pb-3" style="font-family: 'Playfair Display';">Professional Talks & Blog Posts</h2>
      </div>
      <div class="col-md-9">
        <div class="row align-items-start">
          <div class="col-lg-6">
            <h4>Beyond Big Data Conference</h4>
            <p>February 2022</p>
            <p>
              Gave a talk on my latest work at RoadBotics: creating 3D models of city blocks from videos recorded by a smartphone or GoPro MAX. I presented at Pittsburgh Tech Council's Beyond Big Data Conference for 2022.
            </p>
          </div>
          <div class="col-lg-6">
            <img src="/assets/images/beyond_big_data_2.jpeg" width="100%">
          </div>
        </div>
        <div class="row"><div class="col"><h4>&nbsp</h4></div></div>
        <div class="row align-items-start">
          <div class="col-lg-6">
            <h4>Introduction to Machine Learning Webinar</h4>
            <p>May 2020</p>
            <p>
              Gave a presentation on the basics of machine learning, including deep neural networks, as part of RoadBotics' webinar series.
            </p>
          </div>
          <div class="col-lg-6">
            <iframe width="100%" src="https://www.youtube-nocookie.com/embed/doxkDpKH0s0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </div> -->